@-ms-viewport{
    width: device-width;
}

html {
    background: url(images/card-front.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

body {
    height: 98%;
    min-height: 98%;
}

.cover-image {
    height: 80%;
}

.content {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Alegreya', serif;
    padding: 0.5%;
    margin: 0 10%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    background-color: rgba(240,240,240, 0.9);
}

.content p {
    margin: 1%;
    flex-grow: 1;
}

@media only screen and (max-device-width: 640px) {
    .content {
	flex-direction: column;
    }
    .content p {
	margin: 6% 1%;
    }
}