@-ms-viewport{
    width: device-width;
}

html {
    background: url(images/card-front.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    background-position-y: 14%;
    background-position-x: 46%;
}

body {
    height: 98%;
    min-height: 98%;
}

section:last-of-type {
    margin-bottom: 1%;
}

.cover-image {
    height: 50%;
}

.content {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Alegreya', serif;
    padding: 0.5%;
    margin: 0 10%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    background-color: rgba(240,240,240, 0.9);
}

.content p {
    margin: 1%;
    flex-grow: 1;
}

.content + .content {
    margin-top: 1%;
}

nav.content {
    padding: 0;
}

.nav-link {
    flex-grow: 1;
    text-decoration: none;
    color: darkgreen;
    padding: 0.5%;
}

.nav-link + .nav-link {
    border-left: 2px solid #ccc;
}

.map {
    width: 100%;
}

.travel-details {
    display: flex;
    flex-direction: row;
}

.travel-details p {
    flex-grow: 1;
}

.travel-details ul {
    width: 100%;
    box-sizing: border-box;
}

.aeroplanes {
    width: 50%;
}

.travel-details a {
    text-decoration: none;
}

.details {
    display: block;
    text-align: left;
    padding: 10px 20px;
}

.ritual {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.ritual-detail {
    flex-grow: 1;
    margin-left: 2%;
}

.ritual-title {
    display: inline;
    text-transform: capitalize;
    font-size: 1.2em;
}

.ritual-image-container {
    width: 200px;
    min-width: 200px;
}
.ritual-image {
    width: 100%;
}

@media only screen and (max-device-width: 640px) {
    .content {
	flex-direction: column;
	margin: 2%;
    }
    .content p {
	margin: 6% 1%;
    }

    .aeroplanes {
	width: 100%;
    }

    .travel-details {
	flex-direction: column;
    }

    .ritual {
	flex-direction: column;
    }

    .nav-link {
	flex-direction: column;
    }

    .nav-link + .nav-link {
	border-top: 1px solid #ccc;
    }

    .ritual-image-container {
	min-width: 100%;
    }

}
