@-ms-viewport{
    width: device-width;
}

html {
    background: url(images/card-front.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    background-position-y: 14%;
    background-position-x: 46%;
}

body {
    height: 98%;
    min-height: 98%;
}

section:last-of-type {
    margin-bottom: 1%;
}

.cover-image {
    height: 66%;
}

.content {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Alegreya', serif;
    padding: 0.5%;
    margin: 0 10%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    background-color: rgba(240,240,240, 0.9);
}

.content p {
    margin: 1%;
    flex-grow: 1;
}

.content + .content {
    margin-top: 1%;
}

.map {
    width: 100%;
}

.travel-details {
    display: flex;
    flex-direction: row;
}

.travel-details p {
    flex-grow: 1;
}

.travel-details ul {
    width: 100%;
    box-sizing: border-box;
}

.aeroplanes {
    width: 50%;
}

.details {
    display: block;
    text-align: left;
    padding: 10px 20px;
}


@media only screen and (max-device-width: 640px) {
    .content {
	flex-direction: column;
    }
    .content p {
	margin: 6% 1%;
    }

    .travel-details {
	flex-direction: column;
    }

}
